@model BinaryStudio.PhotoGallery.Web.ViewModels.Admin.InviteUserViewModel

@using System.Web.Optimization
@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
	ViewBag.Title = "Administration | Bingally";
}

@Styles.Render("~/Content/admin-page.css")

<div id="user-list" data-bind="foreach: userList">
    <div class="user" data-bind="css: statusCss">
        <div class="avatar">
            <a data-bind="attr: {href: profileUrl}">
                <img src="~/Content/images/no_avatar.png" data-bind="attr: { src: avatarUrl }" />
            </a>
            <div class="status" data-bind="text: statusText"></div>
        </div>
        <div class="description">
            <button class="edit-info icon-edit" data-bind="click: editAction"></button>
            <a class="full-name" data-bind="text: fullName, attr: {href: profileUrl}"></a>
            <a class="email" data-bind="text: email, attr: {href: mailtoEmail}"></a>
            <div class="department" data-bind="text: department"></div>
        </div>
        <div class="actions btn-block">
            <button class="btn btn-inverse" data-bind="click: blockAction, text: blockAndUnblockText"></button>
            <button class="btn btn-warning" data-toggle="modal" href="#deleteModal" data-bind="click: deleteAction">Delete</button>
            <button class="btn btn-primary" data-bind="click: resetInvitation, visible: !isActivated()">Resend invitation</button>
        </div>
    </div>
</div>

<nav id="actions-panel">
    <h4>
        Invite new user
    </h4>
    <div class="action" id="invite">
        <form class="form-horizontal" id="invite-form">
            @Html.TextBoxFor(model => model.Email, new {@class = "input-block-level", @placeholder = "E-mail address"})
            @Html.TextBoxFor(model => model.FirstName, new {@class = "input-block-level", @placeholder = "First name"})
            @Html.TextBoxFor(model => model.LastName, new {@class = "input-block-level", @placeholder = "Last name"})
            <button type="button" class="btn btn-primary" id="invite-btn">Send invitation</button>
        </form>
    </div>
</nav>

@Scripts.Render("~/bundles/scripts/mediator")
@Scripts.Render("~/Scripts/Admin/UserViewModel.js")
@Scripts.Render("~/Scripts/Admin/AdminViewModel.js")
@Scripts.Render("~/Scripts/Admin/AdminMain.js")

<div id="deleteModal" class="modal hide fade in" style="display: none;">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h4>Delete confirmation</h4>
	</div>
	<div class="modal-body">
		<h5>Are you sure you want to delete <strong>this</strong> ?</h5>
	</div>
	<div class="modal-footer">
		<input type="button" class="btn btn-success" value="Delete" id="deleteButton"/>
		<input type="button" class="btn" data-dismiss="modal" value="Cancel"/>
	</div>
</div>