@using System.Web.Optimization
@model BinaryStudio.PhotoGallery.Web.ViewModels.User.UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@Styles.Render("~/Content/profile-page.css")
<div class="span8">
    <h2>Edit profile</h2>
    @using (Html.BeginForm("UpdatePhoto", "Settings", FormMethod.Post, new { enctype = "multipart/form-data", id = "photo-form" }))
    {
        <div class="span3">
            <img src="@Model.PhotoUrl" class="img-polaroid" id="photo" title="Click photo to upload new one">
            <input type="file" name="photoFile" id="photoFile" data-url="upload-image" style="display: none;"/>
        </div>
    }
    @using (Html.BeginForm("Edit", "Settings", FormMethod.Post))
    {
        <div class="span3">
            @Html.LabelFor(x => x.FirstName, "First Name")
            @Html.TextBoxFor(x => x.FirstName)
            
            @Html.LabelFor(x => x.LastName, "Last Name")
            @Html.TextBoxFor(x => x.LastName)
            
            @Html.LabelFor(x => x.Email, "Email")
            @Html.TextBoxFor(x => x.Email)
            @Html.HiddenFor(x => x.Email)
            <div class="btn-group" id="button-group">
                <input type="submit" value="Save" class="btn"/>
                @Html.ActionLink("Cancel", "Index", "Settings", new {@class = "btn btn-inverse"})
            </div>
        </div>
    }
</div>
<script type="text/javascript">
    
    var photo = $("#photo"),
        form = $("#photo-form"),
        photoFile = $("#photoFile");
    
    photo.tooltip();

    photo.on("click", function() {
        photoFile.click();
    });

    photoFile.on('change', function() {
        form.submit();
    });
    
</script>
