@using System.Web.Optimization
@model BinaryStudio.PhotoGallery.Web.ViewModels.User.UserViewModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@Styles.Render("~/Content/settings-page.css")

<div class="span8">
    <h2>Your profile</h2>
    @using(Html.BeginForm("Edit", "Settings", FormMethod.Get))
    {
        <div class="span3">
            <img src="@Model.PhotoUrl" class="img-polaroid" id="user-photo">
        </div>
        <div class="span3">
            @Html.LabelFor(x => x.FirstName, "First Name")
            @Html.TextBoxFor(x => x.FirstName, new { disabled="disabled" })
            
            @Html.LabelFor(x => x.LastName, "Last Name")
            @Html.TextBoxFor(x => x.LastName, new { disabled="disabled" })
            
            @Html.LabelFor(x => x.Email, "Email")
            @Html.TextBoxFor(x => x.Email, new { disabled="disabled" })
            <div class="btn-group" id="button-group">
                @Html.ActionLink("Edit", "Edit", "Settings", new {@class="btn btn-inverse"})
            </div>
        </div>
    }
</div>