@using PerpetuumSoft.Knockout
@using System.Web.Optimization
@model BinaryStudio.PhotoGallery.Web.ViewModels.InfoViewModel

<script src="@Url.Content("~/Scripts/knockout-2.3.0.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/perpetuum.knockout.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"></script> 
@Scripts.Render("~/bundles/scripts/bootstrap")
@Styles.Render("~/Content/photo_flow.css")

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "User flow | Bingally";
    var preloaderpath = "/Content/images/photopreloader.gif";
    var ko = Html.CreateKnockoutContext();
    
}


<img src="@preloaderpath" id="photopreloader" />
<div id="photoWrapper">
    @using(var photos = ko.Foreach(it => it.Photos))
    {
        <div class="photoContainer invisible" onclick="location.href =''">
            <img @photos.Bind.Attr("src", photo => photo.PhotoThumbSource)/>
        </div>
    }
</div>

<button style="width:50px; height:50px;" onclick="ShowNotify()">Тест</button>

@ko.Apply(Model)
@Scripts.Render("~/Scripts/FlowPage/photo_placer.js")
