@using PerpetuumSoft.Knockout
@using System.Web.Optimization
@model BinaryStudio.PhotoGallery.Web.ViewModels.InfoViewModel

<script src="@Url.Content("~/Scripts/knockout-2.3.0.js")" type="text/javascript"></script> <!-- Use your version of knockout -->
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/perpetuum.knockout.js")" type="text/javascript"></script>
@Scripts.Render("~/bundles/scripts/jquery")
@Scripts.Render("~/bundles/scripts/bootstrap")
@Scripts.Render("~/Scripts/photo_placer.js")
@Styles.Render("~/Content/photo_flow.css")

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var preloaderpath = BinaryStudio.PhotoGallery.Core.Helpers.PathHelper.ImageDir + "photopreloader.gif";
    var ko = Html.CreateKnockoutContext();
    
}

<div id="photoWrapper">
    @using (var ph = ko.Foreach(m => m.Photos))
    {
        <div class="photoContainer invisible">
            <img @ph.Bind.Attr("src", photo => photo.PhotoThumbSource)/>
        </div>

    }  		
</div>
<img src="@preloaderpath" id="photopreloader" />
@ko.Apply(Model)

