@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Web.ViewModels
@using PerpetuumSoft.Knockout
@model InfoViewModel

<script src="@Url.Content("~/Scripts/knockout-2.3.0.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/perpetuum.knockout.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/jquery-2.0.3.min.js")" type="text/javascript"> </script> 
@Scripts.Render("~/bundles/scripts/bootstrap")

@Styles.Render("~/Content/photo-flow.css")
@Styles.Render("~/Content/spinner.css")


@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "User flow | Bingally";
    KnockoutContext<InfoViewModel> ko = Html.CreateKnockoutContext();
}
 
<div id="loader">
    <ul class="spinner">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<div id="photoWrapper">
    @using (KnockoutForeachContext<PhotoViewModel> photos = ko.Foreach(it => it.Photos))
    {
        <div class="photoContainer invisible" data-bind="click: $parent.gotoPhotoPage.bind($data)">
            <img @photos.Bind.Attr("src", photo => photo.PhotoThumbSource)/>
        </div>
    }
</div>


@ko.Initialize(Model)
<script type="text/javascript">
    $(document).ready(function () {
        PhotoPlacer_Module("/api/photo/all-users");
    });

    viewModel.gotoPhotoPage = function(data) {
        self.location = data.PhotoViewPageUrl;
    };
</script>

@ko.Apply(Model)
@Scripts.Render("~/Scripts/Helpers/PhotoPlacer_Module.js")
