@using System.Web.Optimization

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Upload | Bingally";
}

@Styles.Render("~/bundles/styles/dropzone")
@Styles.Render("~/Content/upload-page.css")

<div id="foto-select">
    <div id="select-all-photos">
        <input type="checkbox" data-bind="enable: canSelectAllPhotos, checked: chekedAllPhotos"> Select all photos&nbsp;
    </div>
    <select data-bind="options: albums, optionsText: 'Name', optionsValue: 'Id', value: selectedAlbumId, enable: canSavePhotos, optionsCaption: 'Choose album to save in...'">
    </select>
    <button class="btn btn-danger" data-bind="click: startUpload, enable: (canSavePhotos() == true) && (selectedAlbumId() > 0)">Save fotos</button>
</div>

<div id="dropzone-container">
    <form  action="~/Api/File/Upload" class="dropzone dz-clickable" enctype="multipart/form-data" method="POST"></form>
</div>

@Scripts.Render("~/bundles/scripts/jquery")
@Scripts.Render("~/bundles/scripts/bootstrap")
@Scripts.Render("~/bundles/scripts/dropzone")
@Scripts.Render("~/bundles/scripts/knockout")

@Scripts.Render("~/Scripts/mediator.js")
@Scripts.Render("~/Scripts/UploadPage/PhotoPreviewViewModel.js")
@Scripts.Render("~/Scripts/UploadPage/UploadViewModel.js")
@Scripts.Render("~/Scripts/UploadPage/main.js")