@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Web.CustomStructure
@using BinaryStudio.PhotoGallery.Web.Extensions
@model BinaryStudio.PhotoGallery.Web.ViewModels.AlbumViewModel

@Styles.Render("~/Content/photo-flow.css")
@Styles.Render("~/Content/spinner.css")
@Styles.Render("~/Content/album-page.css")

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Album | Bingally";

    var user = ViewBag.User as CustomPrincipal;
}
 
<div id="loader">
    <ul class="spinner">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div class="album-container">
    <div id="photoWrapper" class="grid" data-bind="foreach: photos">
        <div class="photoContainer invisible" data-bind="click: $parent.gotoPhotoPage.bind($data)">
            <img data-bind="attr: { src: PhotoThumbSource }"/>
        </div>
    </div>

    <div class="sidebar">
        <div id="albumName" class="title editable" contenteditable="true" data-bind="editableText: name"></div>
        <div class="prop"><!--ko text: photosCount--><!--/ko--> photos</div>
        <div class="prop">date of creation: <!--ko text: dateOfCreation--><!--/ko--></div>
        <div class="title">Description</div>
        <div id="description" class="prop editable" contenteditable="true" data-bind="editableText: description"></div>
        <div class="title">Tags</div>
        <div class="prop"><!--ko text: tagsString--><!--/ko--></div>

        <div id="rightsOptions">
            <div class="title">Rights</div>
            <div class="prop">
                <select data-bind="options: groups, optionsText: 'name', value: selectedGroup, optionCaption: 'Select group...'">
                </select>
                <div data-bind="with: selectedGroup">
                    <label class="checkbox">
                
                        <input type="checkbox" data-bind="checked: canSeePhotos"> Can see photos
                    </label>

                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: canSeeComments"> Can see comments
                    </label>
                </div>
            </div>
        </div>

        <a id="saveButton" class="btn save-info-btn" data-bind="click: sendInfo">Save</a><small id="notification" class="notification">changes have been saved..</small>
    </div>

</div>

<div id="getTagsUrl" data-url="@Html.RouteUrl("TagApi", "GetAlbumTags")"></div>
<div id="getAlbumInfoUrl" data-url="@Html.RouteUrl("AlbumApi", "GetAlbum")"></div>
<div id="getPhotosUrl" data-url="@Html.RouteUrl("PhotoApi", "GetPhotos")"></div>
<div id="getGroupsUrl" data-url="@Html.RouteUrl("GroupApi", "GetGroups")"></div>

<div id="postGroupsUrl" data-url="@Html.RouteUrl("GroupApi", "PostGroups")"></div>
<div id="postAlbumInfoUrl" data-url="@Html.RouteUrl("AlbumApi", "PostAlbumInfo")"></div>

<input id="albumId" type="hidden" value="@ViewBag.AlbumId"/>
<input id="currentUserId" type="hidden" value="@user.Id"/>
<input id="isAdmin" type="hidden" value="@user.IsAdmin"/>

@Scripts.Render("~/Scripts/Helpers/PhotoPlacer_Module.js")
@Scripts.Render("~/Scripts/Album/albumViewModel.js")