@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Web.ViewModels
@using BinaryStudio.PhotoGallery.Web.ViewModels.Photo
@using PerpetuumSoft.Knockout
@model AlbumViewModel

<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/perpetuum.knockout.js")" type="text/javascript"> </script>

@Styles.Render("~/Content/photo-flow.css")
@Styles.Render("~/Content/spinner.css")
@Styles.Render("~/Content/album-page.css")

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Album | Bingally";
}
 
<div id="loader">
    <ul class="spinner">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div class="album-container">
    <div id="photoWrapper" class="grid">
    </div>

    <div class="sidebar">
        <div class="title editable" contenteditable="true" data-bind="editableText: name"></div>
@*        <div class="photos-count">@Html.DisplayFor(model => model.Photos.Count) photos..</div>*@
        <div class="title">Description</div>
        <div class="prop editable" contenteditable="true" data-bind="editableText: description"></div>
        <div class="title" contenteditable="true">Tags</div>
        <div class="prop editable" contenteditable="true" data-bind="editableText: tagsString"></div>
        <div class="title">Rights</div>
        <a class="btn save-info-btn">Bootstrap Button Generator</a>
    </div>
</div>

<div id="getTagsUrl" data-url="@Url.RouteUrl(new {httproute = "", controller = "AlbumTagApi", action = "GetTags"})"></div>
<div id="getAlbumInfoUrl" data-url="@Url.RouteUrl(new {httproute = "", controller = "AlbumApi", action = "GetAlbum"})"></div>
<div id="getPhotosUrl" data-url="@Url.RouteUrl(new {httproute = "", controller = "PhotoApi", action = "GetPhotos"})"></div>

<input id="albumId" type="hidden" value="@ViewBag.AlbumId"/>

@Scripts.Render("~/Scripts/Album/albumViewModel.js")