@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Web.ViewModels
@using BinaryStudio.PhotoGallery.Web.ViewModels.Photo
@using PerpetuumSoft.Knockout
@model AlbumViewModel

<script src="@Url.Content("~/Scripts/knockout.mapping-latest.js")" type="text/javascript"> </script>
<script src="@Url.Content("~/Scripts/perpetuum.knockout.js")" type="text/javascript"> </script>

@Styles.Render("~/Content/photo-flow.css")
@Styles.Render("~/Content/spinner.css")
@Styles.Render("~/Content/album-page.css")

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Album | Bingally";
    KnockoutContext<AlbumViewModel> ko = Html.CreateKnockoutContext();
}
 
<div id="loader">
    <ul class="spinner">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div class="container-fluid no-padding">
    <div class="row-fluid">
        <div class="span9">
            <div id="photoWrapper">
                @using (KnockoutForeachContext<PhotoViewModel> photos = ko.Foreach(it => it.Photos))
                {
                    <div class="photoContainer invisible" data-bind="click: $parent.gotoPhotoPage.bind($data)">
                        <img @photos.Bind.Attr("src", photo => photo.PhotoThumbSource)/>
                    </div>
                }
            </div>
        </div>
        <div class="span3 sidebar">
                <div class="title editable" contenteditable="true">@Html.DisplayFor(model => model.AlbumName)</div>
                <div class="photos-count">@Html.DisplayFor(model => model.Photos.Count) photos..</div>
                <div class="title">Description</div>
                <div class="prop editable" contenteditable="true">@Html.DisplayFor(model => model.Description)</div>
                <div class="title" contenteditable="true">Tags</div>
                <div class="prop editable" contenteditable="true">
                    tag, tag 2, other tag, looong  tag, some tag, your tag, my tag, tag-tag
                </div>
                <div class="title">Rights</div>
        </div>
    </div>
</div>

@ko.Initialize(Model)

<script type="text/javascript">
    var getPhotosApi = '@Url.RouteUrl(new {httproute = "", controller = "PhotoApi", action = "GetPhotos"})';
    $(document).ready(function() {
        PhotoPlacer_Module(getPhotosApi, "@Model.Id");
    });

    viewModel.gotoPhotoPage = function(data) {
        self.location = data.PhotoViewPageUrl;
    };
</script>

@ko.Apply(Model)
@Scripts.Render("~/Scripts/Helpers/PhotoPlacer_Module.js")