@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Web.ViewModels
@model AlbumViewModel

@Styles.Render("~/Content/photo-flow.css")
@Styles.Render("~/Content/spinner.css")
@Styles.Render("~/Content/album-page.css")

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Album | Bingally";
}
 
<div id="loader">
    <ul class="spinner">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

<div class="album-container">
    <div id="photoWrapper" class="grid" data-bind="foreach: photos">
        <div class="photoContainer invisible" data-bind="click: $parent.gotoPhotoPage.bind($data)">
            <img data-bind="attr: { src: PhotoThumbSource }"/>
        </div>
    </div>

    <div class="sidebar">
        <div class="title editable" contenteditable="true" data-bind="editableText: name"></div>
        <div class="prop"><!--ko text: photosCount--><!--/ko--> photos</div>
        <div class="prop">date of creation: <!--ko text: dateOfCreation--><!--/ko--></div>
        <div class="title">Description</div>
        <div class="prop editable" contenteditable="true" data-bind="editableText: description"></div>
        <div class="title">Tags</div>
        <div class="prop"><!--ko text: tagsString--><!--/ko--></div>
        <div class="title">Rights</div>
        <div></div>
        <a class="btn save-info-btn" data-bind="click: sendInfo">Save</a>
    </div>
</div>

<div id="getTagsUrl" data-url="@Url.RouteUrl(new {httproute = "", controller = "TagApi", action = "GetAlbumTags"})"></div>
<div id="getAlbumInfoUrl" data-url="@Url.RouteUrl(new {httproute = "", controller = "AlbumApi", action = "GetAlbum"})"></div>
<div id="getPhotosUrl" data-url="@Url.RouteUrl(new {httproute = "", controller = "PhotoApi", action = "GetPhotos"})"></div>
<div id="postAlbumInfoUrl" data-url="@Url.RouteUrl(new {httproute = "", controller = "AlbumApi", action = "PostAlbumInfo"})"></div>
<input id="albumId" type="hidden" value="@ViewBag.AlbumId"/>

@Scripts.Render("~/Scripts/Helpers/PhotoPlacer_Module.js")
@Scripts.Render("~/Scripts/Album/albumViewModel.js")
