@using System.Web.Optimization
@model BinaryStudio.PhotoGallery.Web.ViewModels.Authorization.SignupViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Registration | Bingally";
}

<div class="change-panel well">
    <strong class="pull-left">Already registered?</strong>
    <a href="~/signin" class="btn btn-primary pull-right">Sign in</a>
</div>

<div class="login-panel">
    <img src="~/Content/images/logo_big.png"/>
    <div class="well">          
        <form class="control-group form-horizontal pagination-centered" autocomplete="off">
            <input type="email" id="Email" name="Email" class="input-block-level" maxlength="255" placeholder="E-mail address" value="@Model.Email" readonly=""/>
            <input type="password" id="Password" name="Password" class="input-block-level" maxlength="20" placeholder="Password" />
            <input type="password" name="ConfirmPassword" id="ConfirmPassword" class="input-block-level" maxlength="20" placeholder="Repeat password">

            <button id="signup-button" type="submit" class="btn btn-success effeckt-button zoom-in">
                <span class="effeckt-label">Sign up</span>
                <span class="effeckt-spinner effeckt-spinner-green"></span>
            </button>
        </form>
        <div class="error-field"></div>
    </div>
</div>
@Scripts.Render("~/bundles/scripts/jquery")
@Scripts.Render("~/bundles/scripts/bootstrap")
@Scripts.Render("~/bundles/scripts/jquery.validate")
@Scripts.Render("~/bundles/scripts/opentip")

@Scripts.Render("~/Scripts/Account/signup.js")
@Scripts.Render("~/Scripts/Account/signup.validate.js")