@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Web.Extensions
@model BinaryStudio.PhotoGallery.Web.ViewModels.Account.SignupViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Registration | Bingally";
}

<div class="change-panel well">
    <strong class="pull-left">Already registered?</strong>
    @Html.ActionLink("Sign in", "SignIn", "Account", new {@class = "btn btn-primary pull-right"})
</div>

<div class="login-panel">
    @Html.Image("~/Content/images/logo_big.png")
    <div class="well">          
        <form class="control-group form-horizontal pagination-centered" autocomplete="off">
            @Html.TextBoxFor(model => model.Email, new {@class = "input-block-level", @placeholder = "E-mail address", @value = Model.Email, @readonly = "true"})
            @Html.PasswordFor(model => model.Password, new {@class = "input-block-level", @placeholder = "Password"})
            @Html.PasswordFor(model => model.ConfirmPassword, new {@class = "input-block-level", @placeholder = "Repeat Password"})
            @Html.TextBoxFor(model => model.Invite, new {@class = "input-block-level", @type = "hidden", @value = Model.Invite, @readonly = "true"})
            <button id="signup-button" type="submit" class="btn btn-success effeckt-button zoom-in">
                <span class="effeckt-label">Sign up</span>
                <span class="effeckt-spinner effeckt-spinner-green"></span>
            </button>
        </form>
        <div class="error-field"></div>
    </div>
</div>

@Scripts.Render("~/Scripts/Account/signup.js")
@Scripts.Render("~/Scripts/Account/signup.validate.js")