@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Web.Extensions
@model BinaryStudio.PhotoGallery.Web.ViewModels.Account.SigninViewModel

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login | Bingally";
}

<div id="loginPanel" class="login-panel">
    @Html.Image("~/Content/images/logo_big.png")
    <div class="well">
        <form class="control-group form-horizontal pagination-centered">
            @Html.TextBoxFor(model => model.Email, new {@class = "input-block-level", @placeholder = "E-mail address"})
            @Html.PasswordFor(model => model.Password, new {@class = "input-block-level", @placeholder = "Password"})
            <label class="checkbox">
@*            @Html.CheckBoxFor(model => model.RememberMe) Remember me*@
            <input id="RememberMe" name="RememberMe" type="checkbox" value="true" checked> Remember me
            </label>
            <button id="signin-button" type="submit" class="btn btn-primary effeckt-button zoom-in">
                <span class="effeckt-label">Sign in</span>
                <span class="effeckt-spinner effeckt-spinner-blue"></span>
            </button>
            <a id="forgotPass" class="btn btn-link">Forgot password?</a>
        </form>
        <div class="error-field"></div>
        <hr />
        <div class="social">
            @Html.ImageLink("~/Content/images/vkontakte_logo.png", Url.Action("login", "OAuth", new { providerName = "Vk" }))
            @Html.ImageLink("~/Content/images/facebook_logo.png", Url.Action("login", "OAuth", new { providerName = "Facebook" }))
            @Html.ImageLink("~/Content/images/twitter_logo.png", Url.Action("login", "OAuth", new { providerName = "Twitter" }))
            @Html.ImageLink("~/Content/images/github_logo.png", Url.Action("login", "OAuth", new { providerName = "Github" }))
        </div>
    </div>
</div>

@RenderPage("~/Views/Account/RemindPass.cshtml")

@Scripts.Render("~/Scripts/Account/signin.js")
@Scripts.Render("~/Scripts/Account/signin.validate.js")
