@model BinaryStudio.PhotoGallery.Web.ViewModels.AlbumsViewModel
@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Albums | Bingally";
}
@Scripts.Render("~/Scripts/Albums/albums.js",
                "~/Scripts/jsrender.js")
@Styles.Render("~/Content/albums-page.css")

<canvas id='perimeter'>Refresh browser</canvas>

<script id="collageTmpl" type="text/x-jquery-tmpl">
    <div class="album">
        <a href="/album/{{:Id}}"><img class="collage" src="{{:CollagePath}}"/></a>
    </div>
</script>

<script id="uploadTmpl" type="text/x-jquery-tmpl">
    <canvas id="arrow">Refresh browser</canvas>
    <div class = "noAlbumsTextContainer">
        <p class ="noAlbumsText">&nbsp;&nbsp;&nbsp;&nbsp;There are no albums available for viewing.<br/>Click upload here.</p>
    </div>
</script>

<script id="flowPhotoTmpl" type="text/x-jquery-tmpl">
    <div class="thumbContaiter">
        <img class="flowPhoto" src="{{:Reference}}"/>
    </div> 
</script>

<script id="dontHaveRightsTmpl" type="text/x-jquery-tmpl">
    <div class = "noAlbumsTextContainer">
        <p class ="noAlbumsText">{{:requestsUserName}} you can't view albums by {{:ownerUserName}}.</p>
    </div>
</script>

<script id="noneUserTmpl" type="text/x-jquery-tmpl">
    <div class = "noAlbumsTextContainer">
        <p class ="noAlbumsText">The requested user does not exist</p>
    </div>
</script>

<script id="userTmpl" type="text/x-jquery-tmpl">
    <p><img class="avatar" src="{{:PhotoUrl}}"/></p>
    <p class="textStyle">FirstName: {{:FirstName}}</p>
    <p class="textStyle">LastName: {{:LastName}}</p>
    <p class="textStyle">User state: {{:IsAdmin===true?'admin':'simple'}}</p>
    <p class="textStyle">Total albums: {{:AlbumsCount}}</p>
    <p class="textStyle">Photos: {{:PhotoCount}}</p>                                                                                                                                                                                                                                                                                                                          
</script>

<div id="content">
        <div class="albums">
            
        </div>
        <div class="infoArea">
            <div class="info" id="userInformation">
            </div>
        </div>
</div>

<div id ="userId" data-url="@ViewBag.UserId"></div>
<div id="albumApiUrl" data-url="@Url.RouteUrl(new {httproute = "", controller = "AlbumApi", action = "GetAlbums"})"></div>
<div id="userApiUrl" data-url="@Url.RouteUrl(new {httproute = "", controller = "UserApi", action = "GetCurrent"})"></div>