@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Models
@model BinaryStudio.PhotoGallery.Web.ViewModels.UsersListViewModel


@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
	ViewBag.Title = "Administration | Bingally";
}

@Scripts.Render("~/bundles/scripts/jquery")
@Scripts.Render("~/Scripts/knockout-2.3.0.js")
@Scripts.Render("~/Scripts/knockout.mapping-latest.js")
@Scripts.Render("~/Scripts/AdminPanel/AdminPage.js")
@Scripts.Render("~/Scripts/AdminPanel/UserSlider.js")

<div class="user-container" data-bind="foreach: Users">
		<a href="">
			<div class="user-row">
				<div class="user-main-info">
					<img src="~/Content/images/no_avatar.png" data-bind="attr: { alt: Email }" />
					<span data-bind="text: FistName"></span>
					<span></span>
				</div>
			</div>
		</a>
</div>
<div class="user-info">
	<p>Login</p>
	<img src="~/Content/images/no_avatar.png" alt="" />
	<p>
		<strong>First Name:</strong>
		<input type="text" value="FName" />
	</p>
	<p>
		<strong>Last Name:</strong>
		<input type="text" value="LName" />
	</p>
	<p>
		<strong>Role:</strong>
		<span>Admin</span>
	</p>
	<p>
		<strong>Last visit:</strong>
		<span>Sun 28.07.2013 10:13 AM</span>
	</p>
	<p>
		<strong>Total albums:</strong>
		<span>2</span>
	</p>
</div>
<div class="delete-queue-info">
	<span>There is 5 photo scheduled for deleting.</span>
	<input type="button" class="btn" value="Confirm deleting" />
</div>
<div class="hidden-field">
	<input type="button" class="btn" value="Reset Password" onclick="alert('Another admin action!')" />
	<input type="button" class="btn" value="Another action" onclick="alert('Another admin action!')" />
	<input type="button" class="btn" value="And another" onclick="alert('And another admin action!')" />
</div>

<script type="text/javascript">
	$(function() {
		var initData = @Html.Raw(Json.Encode(Model));
		Bingally.AdminPage.initializeViewModel(initData);
	});
</script>
