@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Models
@using PerpetuumSoft.Knockout
@model BinaryStudio.PhotoGallery.Web.ViewModels.UsersListViewModel


<script type="text/javascript" src="~/Scripts/knockout-2.3.0.debug.js"></script>
<script type="text/javascript" src="~/Scripts/knockout.mapping-latest.debug.js"></script>
@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
	ViewBag.Title = "Administration | Bingally";
}
@{
    var ko = Html.CreateKnockoutContext();
}

<div class="user-container">
	@using (var user = ko.Foreach(model => model.UserViewModels))
	{
		<a href="">
			<div class="user-row">
				<div class="user-main-info">
					<img src="~/Content/images/no_avatar.png" @user.Bind.Attr("alt",g=>g.Email) />
					<span @user.Bind.Text(g=> "User: "+g.FirstName+" "+ g.LastName)></span>
					<span @user.Bind.Text(g=> g.IsOnline == true ? "Online" : "Offline").Style("color", g => g.IsOnline == true ? "green" : "red")>Offline</span>
				</div>
			</div>
		</a>
	}
</div>
<div class="user-info">
	<p>Login</p>
	<img src="~/Content/images/no_avatar.png" alt=""/>
	<p><strong>First Name:</strong>
		<input type="text" value="FName"/>
	</p>
	<p><strong>Last Name:</strong>
		<input type="text" value="LName"/>
	</p>
	<p><strong>Role:</strong>
		<span>Admin</span>
	</p>
	<p><strong>Last visit:</strong>
		<span>Sun 28.07.2013 10:13 AM</span>
	</p>
	<p><strong>Total albums:</strong>
		<span>2</span>
	</p>
	<p><strong>Total photos:</strong>
		<span>23</span>
	</p>
</div>
<div class="delete-queue-info">
	<span>There is 5 photo scheduled for deleting.</span>
	<input type="button" class="btn" value="Confirm deleting"/>
</div>
<div class="hidden-field">
	<input type="button" class="btn" value="Reset Password" data-bind="click: ResetPass"/>
	<input type="button" class="btn" value="Another action" onclick="alert('Another admin action!'); e.preventDefault();" />
	<input type="button" class="btn" value="And another" onclick="alert('And another admin action!'); e.preventDefault();" />
</div>
@ko.Initialize(Model)
<script type="text/javascript">
	viewModel.ResetPass = function() {
		alert("The password has been reset. Notification was sent by mail.");
	}
</script>
@ko.Apply(Model)
@Scripts.Render("~/bundles/scripts/jquery")
@Scripts.Render("~/Scripts/AdminPanel/UserSlider.js")
