@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RegistrationForm</title>
</head>
    <body>
        <h2>Enter your details to register</h2>
        @{
            using (Html.BeginForm())
            {
                string[] colors = ViewBag.Colors;
                <p style="color: @colors[0]">Your login*:@Html.TextBox("Login")</p>
                <p style="color: @colors[1]">Your password*:@Html.Password("Password")</p>
                <p style="color: @colors[2]">Confirm password*:@Html.Password("PasswordConfirmation")</p>
                <p style="color: @colors[3]">Your email address*:@Html.TextBox("Email")</p>
                <p style="color: @colors[4]">Your phone:@Html.TextBox("Phone")</p>
                <p style="color: @colors[5]">Your country:@Html.TextBox("Country")</p>
                <p style="color: @colors[6]">Your city:@Html.TextBox("City")</p>
                <input type="submit" value="Register"/>
            }
         }
    </body>
</html>
