@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Web.ViewModels
@using PerpetuumSoft.Knockout
@*@model List<PhotoViewModel>*@

@*@{
    KnockoutContext<List<PhotoViewModel>> ko = Html.CreateKnockoutContext();    
}*@

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        @Styles.Render("~/bundles/styles/bootstrap")
        @Styles.Render("~/bundles/styles/opentip")
        @Styles.Render("~/Content/auth-page.css")
        @Styles.Render("~/Content/verticalResizer.css")
        @Styles.Render("~/Content/spinner.css")
        
        @Scripts.Render("~/bundles/scripts/jquery")
        @Scripts.Render("~/bundles/scripts/jquery.validate")
        @Scripts.Render("~/bundles/scripts/opentip")
        @Scripts.Render("~/bundles/scripts/knockout")
        @Scripts.Render("/Scripts/knockout.mapping-latest.js")
        
        
        @Scripts.Render("~/Scripts/Helpers/animation.js")
        @Scripts.Render("~/Scripts/Helpers/verticalResizer_Module.js")
        @Scripts.Render("~/Scripts/Account/initVertResizer.js")

    </head>
    <body>
        <div id="full-screen-shadow"></div>
        <div id="wrapper">
            <div id='myGallery' class='rtg-gallery'>
                <div class='rtg-images' data-bind="foreach: RandomPhotos">
                    <div class="photoContainer invisible" >
                        <img data-bind="attr: { src: PhotoThumbSource }"/>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody() 
        <div id="loader">
        <ul class="spinner">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
</div>
    </body>
</html>