@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles/bootstrap")
    @Styles.Render("~/Content/auth-page.css")
</head>
    <body>
        <div id="full-screen-shadow"></div>
        @RenderBody()
    </body>
    @Scripts.Render("~/bundles/scripts/jquery")
    @Scripts.Render("~/bundles/scripts/bootstrap")
    @Scripts.Render("~/Scripts/animation-storage.js")
    @Scripts.Render("~/Scripts/auth-page.js")
    @Scripts.Render("~/bundles/scripts/jquery.validate")
    @Scripts.Render("~/Scripts/auth-validate.js")
</html>