@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/styles/bootstrap")
    @Styles.Render("~/bundles/styles/opentip")
    @Styles.Render("~/Content/auth-page.css")
</head>
    <body>
        <div id="full-screen-shadow"></div>
        @RenderBody()
    </body>
    @Scripts.Render("~/bundles/scripts/jquery")
    @Scripts.Render("~/bundles/scripts/bootstrap")
    @Scripts.Render("~/bundles/scripts/jquery.validate")
    @Scripts.Render("~/bundles/scripts/opentip")
    @Scripts.Render("~/Scripts/Helpers/animation.js")
    @Scripts.Render("~/Scripts/Authorization/main.js")
    @Scripts.Render("~/Scripts/Authorization/validation.js")
</html>