@using System.Web.Optimization
@using BinaryStudio.PhotoGallery.Web.Extensions
@inherits BinaryStudio.PhotoGallery.Web.CustomStructure.BaseViewPage

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/main-layout.css")
        @Styles.Render("~/bundles/styles/bootstrap")
        @Styles.Render("~/bundles/styles/pnotify")

        @Scripts.Render("~/bundles/scripts/jquery")
        @Scripts.Render("~/bundles/scripts/knockout")
        @Scripts.Render("~/bundles/scripts/bootstrap")
        @Scripts.Render("~/Scripts/jquery.pnotify.js")
        @Scripts.Render("~/Scripts/jquery.signalR-1.1.3.min.js")

        <title>@ViewBag.Title</title>
    </head>
    <body>
        <nav class="navbar navbar-fixed-top">
            @Html.ImageLink(Url.Content("~/Content/images/logo_small.png"), "Index", "Home", new {@class = "brand"})
            <ul class="nav">
                <li>@Html.ActionLink("Gallery", "Index", "Gallery")</li>
                <li>@Html.ActionLink("Albums", "Index", "Albums")</li>
                <li>@Html.ActionLink("Search", "Index", "Search")</li>
            </ul>

            <ul class="nav pull-right">
                <li>@Html.ActionLink("Upload", "Index", "Upload", new {@class = "btn btn-success"})</li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <strong>@User.Email</strong>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        @if (User.IsAdmin)
                        {
                            <li>@Html.ActionLink("Administration", "Index", "AdminPanel")</li>
                        }
                        <!-- TODO Make this page!!! -->
                        <!--<li><a href="~/news">Notifications</a></li>-->
                        <li>@Html.ActionLink("Profile", "Index", "Profile")</li>
                        <li class="divider"></li>
                        <li>@Html.ActionLink("Sign out", "SignOut", "Account")</li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="main-render-place">
            @RenderBody()
        </div>
    </body>
    @Scripts.Render("/signalr/hubs")
    @Scripts.Render("~/Scripts/Notifications.js")
</html>